<!-- <h1>Angular setup htmlconversions.com example</h1>
<h1>Thank you. please visit our website htmlconversions.com for more details and update, if you like this pls do subscribe and comment below thanks
  
</h1>

<h1>Enabling IE browser settings in angular</h1>

<h1>Enable route for helloworld component</h1> -->
<div class="container bg-secondary">
    <div class="row">
        <div class="col-md-12">
		    <h1>WWW.HTMLCONVERSIONS.COM</h1>
            <h1>Simphony angular application</h1>
            <app-grid></app-grid>

        </div>
    </div>
</div>
